<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>接口</h1>
<h4>1.banner: <span style="color: red">{$url}/api/v1/banner</span></h4>
<h4>2.provinces: <span style="color: red">{$url}/api/v1/province</span></h4>
<h4>3.school: <span style="color: red">{$url}/api/v1/school/(:province.id)</span></h4>
<h4>4.getToken: <span style="color: red">{$url}/api/v1/token/user</span></h4>
<h4>5.verify: <span style="color: red">{$url}/api/v1/token/verify</span></h4>
</body>
</html>